.messages .success {
    background-color: rgb(0, 255, 0, 0.1);
    width: 20%;
}

.messages .error {
    background-color: rgb(255, 0, 0, 0.1);
    width: 20%;
}

.messages p {
    padding: 1rem; 
    border-radius: 1rem;
    font-size: 1.5rem;
    box-shadow: 0 3px 5px rgb(0, 0, 0, 0.2);
}


 
  