<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forex Converter</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
    <h1>Forex Converter</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <section class="messages">
        {% for category, message in messages %}
        <p class="{{category}}">{{message}}</p>
        {% endfor %}
    </section>
    {% endif %}
    {% endwith %}
        <form class="convert_currency" method="POST">
        <label>Converting from</label>
        <!-- <input class="currency-from" type="text" name="currency_from"> -->
        <select name="currency_from" class="currency-from">
            <option value='USD'>USD</option>
            <option value='EUR'>EUR</option>
            <option value='PHP'>PHP</option>
            <option value='ZAR'>ZAR</option>
            <option value='PLN'>PLN</option>
            <option value='BRL'>BRL</option>
            <option value='CZK'>CZK</option>
            <option value='MXN'>MXN</option>
            <option value='INR'>INR</option>
            <option value='RUB'>RUB</option>
            <option value='NOK'>MOK</option>
            <option value='THB'>THB</option>
            <option value='NZD'>NZD</option>
            <option value='HRK'>HRK</option>
            <option value='TRY'>TRY</option>
            <option value='CNY'>CNY</option>
            <option value='KRW'>KRW</option>
            <option value='CHF'>CHF</option>
            <option value='AUD'>AUD</option>
            <option value='HKD'>HKD</option>
            <option value='SGD'>SGD</option>
            <option value='SEK'>SEK</option>
            <option value='MYR'>MYR</option>
            <option value='RON'>RON</option>
            <option value='HUF'>HUF</option>
            <option value='JPY'>JPY</option>
        </select>
        <br>
        <br>
        <label>Converting to</label>
        <input class="currency-to" type="text" name="currency_to"> 
        <br>
        <br>
        <label>Amount</label>
        <input class="amount" name="amount"> 
        <br>
        <br>
        <button>Convert</button>
    </form>
</body>
</html> 

<!-- <label for="dog-names">Choose a dog name:</label>
<select name="dog-names" id="dog-names">
    <option value="rigatoni">Rigatoni</option>
  <option value="dave">Dave</option>
  <option value="pumpernickel">Pumpernickel</option>
  <option value="reeses">Reeses</option>
</select> -->